body {
    font-family: "Open Sans", sans-serif;
}

h1, h2, h3 {
    font-family: "Lobster", cursive;
}

h2 {
    color: #146a1b;
}

header h2 {
    color: rgb(35, 94, 45);
}

.jumbotron {
    background-color: rgb(238, 219, 141);
    color: rgb(35, 94, 45);
    margin-bottom: 0;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.navbar {
    background-color: rgb(35, 94, 45);
    margin-bottom: 0;
    
}

footer {
    background-color: rgb(35, 94, 45);
    margin-left: -205px;
    margin-right: -204px;
    
}
